[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yash (cyproto)
[access "refs/for/refs/*"]
	read = group user/Yash (cyproto)
	push = group user/Yash (cyproto)
	label-Code-Review = -2..+2 group user/Yash (cyproto)
	label-Verified = -1..+1 group user/Yash (cyproto)
	rebase = group user/Yash (cyproto)
	removeReviewer = group user/Yash (cyproto)
	submit = group user/Yash (cyproto)
[access "refs/heads/*"]
	read = group user/Yash (cyproto)
	create = group user/Yash (cyproto)
	push = +force group user/Yash (cyproto)
	pushMerge = group user/Yash (cyproto)
[access "refs/tags/*"]
	push = group user/Yash (cyproto)
	push = +force group user/Yash (cyproto)
